# Ignore Python Virtual Environment
.venv/

# Ignore Python Cache
__pycache__/

# Ignore user config
config.yaml

# Ignore recorder files
recorders/*
!recorders/.gitkeep
!recorders/demo.carla
!recorders/demo.carla.yaml